
    .subscribe-button {
        /* stylelint-disable-next-line color-function-notation */
        background-color: rgb(193, 29, 29);
        color: white;
        border: none;
        height: 36px;
        /* stylelint-disable-next-line declaration-property-value-no-unknown */
        width: 100;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
    }

    .Join-button {
        background-color: white;
        /* stylelint-disable-next-line color-function-notation */
        border-color: rgb(35, 142, 230);
        border-style: solid;
        border-width: 1px;
        /* stylelint-disable-next-line color-function-notation */
        color: rgb(35, 142, 230);
        /* stylelint-disable-next-line declaration-property-value-no-unknown */
        height: 36;
        /* stylelint-disable-next-line declaration-property-value-no-unknown */
        width: 60;
        border-radius: 2px;
        cursor: pointer;
    }

    .Tweet-button {
        /* stylelint-disable-next-line color-function-notation */
        background-color: rgb(28, 121, 165);
        border: none;
        cursor: pointer;
        /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
        border-radius: 5px;
        height: 30px;
        /* stylelint-disable-next-line declaration-property-value-no-unknown */
        width: 70;
        color: white;
        font-weight: bold;
        font-size: 15px;
        border-radius: 15px;
        margin-left: 6px;
    }