*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

/* stylelint-disable-next-line declaration-empty-line-before */
font-family:'Indie Flower', cursive;

/* hartjes achtergrond */
background-image:url("../img/tile.png");
background-repeat:repeat;

/* stylelint-disable-next-line declaration-empty-line-before */
display:flex;
justify-content:center;
align-items:center;

/* stylelint-disable-next-line declaration-empty-line-before */
min-height:100vh;
}

/* brief papier */
/* stylelint-disable-next-line rule-empty-line-before */
.paper-sheet{

/* stylelint-disable-next-line declaration-empty-line-before */
background-image:url("../img/bg.png");
background-size:cover;
background-position:center;

/* stylelint-disable-next-line declaration-empty-line-before */
width:420px;
height:600px;

/* stylelint-disable-next-line declaration-empty-line-before */
padding:80px 60px;

/* stylelint-disable-next-line color-function-notation */
box-shadow:0 10px 30px rgba(0,0,0,);

/* stylelint-disable-next-line declaration-empty-line-before */
color:#3e4a89;
line-height:2.3em;
}

/* titel */

h1{
text-align:center;
font-size:28px;
margin-bottom:40px;
}

span{
   color: red;
}

main{
text-align:center;
font-size:20px;
}

mark{
background:transparent;
font-weight:bold;
/* stylelint-disable-next-line color-function-notation */
text-shadow:2px 2px 4px rgba(163, 15, 15, 0.5);
}

footer{
margin-top:40px;
text-align:right;
line-height:1.3em;
font-size:18px;
}